app-toolbar {
  display: block;
  width: 100%;
}

.file-management-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px; // Add top margin to push the container down

  .manage-files-title {
    text-align: center;
    h2 {
      font-size: 1.5em;
    }
  }

  .file-list-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    .file-list {
      list-style-type: none;
      padding: 0;
      margin-bottom: 20px;

      .file-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        background-color: none;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:hover {
          background-color: #f5f5f5;
        }

        .file-name {
          flex-grow: 1; /* This will make the file name take up all available space, pushing the button to the right */
          font-size: 1.2em;
          color: #333;
          margin-right: 20px; /* This will add some space between the file name and the delete button */
        }

        .delete-btn {
          padding: 5px 10px;
          border: none;
          border-radius: 5px;
          background-color: #ff4b5c;
          color: white;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: #ff1f3d;
          }
        }
      }
    }

    .no-files {
      font-size: 1.2em;
      color: #999;
    }
  }
}
