/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
/org3-artifacts/crypto-config/*
organizations/ordererOrganizations/*
organizations/peerOrganizations/*
system-genesis-block/*
*.tar.gz
log.txt
addOffice3/fabric-ca/office3/msp
addOffice3/fabric-ca/office3/ca-cert.pem
addOffice3/fabric-ca/office3/fabric-ca-server.db
addOffice3/fabric-ca/office3/IssuerPublicKey
addOffice3/fabric-ca/office3/IssuerRevocationPublicKey
addOffice3/fabric-ca/office3/tls-cert.pem