<app-toolbar text="Employee {{ employeeId }}">
  <app-toolbar-link
    text="View other employees"
    icon="users"
    [routerLink]="['employees']"
  >
  </app-toolbar-link>
  <app-toolbar-link
    text="Upload file to employee"
    icon="upload"
    [routerLink]="['upload']"
  ></app-toolbar-link>
  <app-toolbar-link
  text="Download file from employee"
  icon="download"
  [routerLink]="['download']"
></app-toolbar-link>
  <app-toolbar-button
    text="Refresh"
    icon="refresh"
    (click)="refresh()"
  ></app-toolbar-button>
</app-toolbar>
<br /><br /><br />

<div class="sidebar-layout-bottom-row p-3 container-fluid">
  <div class="row">
    <div class="col-xl-6 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Details</h5>
          <table *ngIf="employeeRecordObs | async as record">
            <span>
              <tr>
                <td class="labels"><strong>Employee ID</strong></td>
                <td>{{ employeeId }}</td>
              </tr>
              <tr>
                <td class="labels"><strong>First Name</strong></td>
                <td>{{ record.firstName }}</td>
              </tr>
              <tr>
                <td class="labels"><strong>Last Name</strong></td>
                <td>{{ record.lastName }}</td>
              </tr>
              <tr>
                <td class="labels"><strong>Speciality</strong></td>
                <td>{{ record.speciality }}</td>
              </tr>
            </span>
          </table>
          <div *ngIf="employeeRecordObs === undefined">
            <p>You are not authorized to view employee details.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
