<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <!-- form card login -->
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Login</h3>
        </div>
        <div class="card-body">
          <form #loginForm="ngForm" class="form">
            <div class="form-group">
              <label for="role">Role</label>
              <select
                name="role"
                class="form-control rounded-1"
                required
                placeholder="Select a user role"
                [(ngModel)]="role"
              >
                <option value="admin">Admin</option>
                <option value="employee">Employee</option>
              </select>
            </div>
            <div class="form-group mt-3" *ngIf="showOfficeList">
              <label for="officeName">Office</label>
              <select
                name="office"
                class="form-control rounded-1"
                required
                placeholder="Select an office you belong"
                [(ngModel)]="officeId"
              >
                <option value="1">Office 1</option>
                <option value="2">Office 2</option>
                <option value="3">Office 3</option>
              </select>
            </div>
            <div class="form-group mt-3">
              <label for="name">Username</label>
              <input
                type="text"
                name="username"
                class="form-control rounded-1"
                required
                [(ngModel)]="username"
              />
            </div>
            <div class="form-group mt-3">
              <label for="password">Password</label>
              <input
                type="password"
                name="password"
                class="form-control rounded-1"
                required
                [(ngModel)]="pwd"
              />
            </div>
            <button
              *ngIf="!createNewPwd"
              type="button"
              class="btn btn-success float-right mt-2"
              [disabled]="loginForm.invalid"
              (click)="loginUser()"
            >
              Login
            </button>
          </form>
        </div>
        <!--/card-block-->
      </div>
      <!-- /form card login -->
    </div>
  </div>
</div>